@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<h2>Your Cart</h2>
<table width="90" align="center">
    <thead><tr><th align="center">Quantity</th></tr></thead>
</table>
